body{
    background-color: #ffb3cc;
    margin: 0; /*去掉默认边距*/
    padding:0;
    font-size: 16px;
   text-align: center;
   background-size: cover; /*让背景图基于容器伸缩*/
}
.inner{
    margin-left: auto;
    margin-right: auto;
}
#header{
    height: 100px;
    margin: 0px;
    padding: 0;
}

#header .head_1{
    width:790px ;
    display: inline-block;
    height: 50px;
    padding:0 auto;
   

}
#header .head_1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b3003b;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
   
}

form {
    width: 810px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
	border: thin dotted #7e7e7e;
    border-radius: 10%;
	background-color: #ff80aa;
}

.TableContainer{
    display: table;
    width: 790px;
    /*边框间距，单元格之间的距离，有了这个属性就不需要单元格之间的margin*/
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe6ee;
    border: 3px solid #ff1a66;
}
.TableRow{
    display: table-row;
   
}
.TableRow .all-row{
    display: table-cell;
}
.TableRow .picture{
    display: table-cell;
    width: 100px;
    border-right: #ff1a66 3px dotted ;
    padding:0px;
}

.TableRow .cont-1{
    display: table-cell;
  
}

/**只选取每一行下的p元素*/
div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
form textarea {
	width: 400px;
	height: 200px;
}
/*伪类 只选择每一行的第一个单元格 使问题标签右对齐*/
div.tableRow p:first-child {
	text-align: right;
}
p.heading {
	font-weight: bold;
}

div.tableRow input{
    text-align: center;
}

.sub{
   margin: auto;
   margin-left: auto;
}